{% for node_spec in node_specs %}
    <h1 id={{ node_spec['label'] }}>{{ node_spec['label'] }}</h1>

    <h2>Inherited labels</h2>

        <ul>
        {% for inherited_label in node_spec['inherited_labels'] %}
            <li>{{ inherited_label }}</li>
        {% endfor %}
        </ul>

    <h2>Properties</h2>

        <ul>
        {% for property_ in node_spec['properties'] %}
            <li>{{ property_["name"] }}: {{ property_["args"]["type"] }}</li>
        {% endfor %}
        </ul>

    <h2>Relationships</h2>

        <ul>
        {% for relationship in node_spec['relationships'] %}
            <li>{{ relationship["args"]["name"] }} [{{ relationship["args"]["cardinality"] }}] <a href="#{{ relationship['args']['node_cls'].__name__ }}">{{ relationship["args"]["node_cls"].__name__ }}</a></li>
        {% endfor %}
        </ul>
{% endfor %}
